<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>hassomepicklejuice{{#if title}} - {{title}}{{/if}}</title>
  <meta name="author" content="hassomepicklejuice" />
  <meta name="description" content="personal page" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  {{#if stylesheet}}
  <link rel="stylesheet" href="{{stylesheet}}" />
  {{else}}
  <link rel="stylesheet" href="style.css" />
  {{/if}}
  {{#if script}}
  <script src="{{script}}" defer></script>
  {{/if}}
</head>

<body>
  <header>
    <a href="/">
      <h1>hassomepicklejuice</h1>
    </a>
    <nav>
      <ul>
        <li><a href="/#about">about me</a></li>
        <li><a href="/#projects">projects</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{BODY}}}
  </main>

  <footer>
    <p>© copyright 2024 hasse (hassomepicklejuice). all rights reserved.</p>
  </footer>
</body>

</html>
